.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 28px;

    max-width: calc(1170px + 25px + 28px);

    @media screen and (min-width: $breakpoint-small){
        max-width: 768px;
        padding-left:0;
        padding-right: 0;
    }

    @media screen and (min-width: $breakpoint-large){
        max-width:1170px;

    }
}

.no-show-mobil-btn{
    display: none;
}

