
.footer{
    background-color: #000000;
    text-align: center;

    padding: 38px 35px 37px;

    @media screen and (min-width: $breakpoint-small){
        padding-top: 57px;
        padding-bottom: 56px;
    }

    @media screen and (min-width: $breakpoint-large){
        padding-top: 66px;
        padding-bottom: 70px;
    }

    &__heading{
        @include headings;
        color: #FEFEFE;
        padding-bottom: 8px;

        @media screen and (min-width: $breakpoint-small){
            padding-bottom: 22px;
        }

    }

    &__text{
        font-size: calc((12/16)*1rem);
        line-height: 1.75;
        color: #B9B9B9;
        padding-bottom: 26px;

        @media screen and (min-width: $breakpoint-small){
            padding-bottom: 37px;
            font-size: 1rem;
        }
    }

    &__text-wrapper{
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $breakpoint-small){
            flex-direction: row;
            justify-content: center;
            gap: 10px;
        }
    }

    &__adress{
        display: block;
        font-style: normal;
        color: #B9B9B9;
        font-size: calc((14/16)*1rem);
        line-height: 1.7;
        text-decoration: none;

        &--add-symbol::after{
            content: "/";
            padding-left: 10px;
        }

        &--add-symbol-first::after{
            content: "/";
            padding-left: 10px;
        }
    }


}

.footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-bottom: 25px;

    @media screen and (min-width: $breakpoint-small){
        padding-bottom: 34px;
    }
}