.header {
  position: relative;
  padding-top: 23px;
  margin-bottom: 23px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: $breakpoint-small) {
    margin-bottom: 28px;
  }
  @media screen and (min-width: $breakpoint-large) {
    padding-top: 29px;
    margin-bottom: 35px;
  }

  &__mobil-menu {
    width: 44px;
    height: 37px;
    background-color: black;
    margin-left: auto;

    @media screen and (min-width: $breakpoint-small) {
      display: none;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover,
      &:focus {
        cursor: pointer;
      }
    }
  }
}

.navbar {
  position: absolute;
  top: 60px;
  right: 28px;
  background-color: #f5f5f5;
  min-width: 183px;

  @media screen and (min-width: $breakpoint-small) {
    position: revert;
    background-color: revert;
    display: flex;
    gap: 34px;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 15px;
  }

  &__item {
    @media screen and (min-width: $breakpoint-small) {
    }
  }
  &__link {
    display: block;
    text-transform: uppercase;
    font-size: calc(11 / 16 * 1rem);
    line-height: 2;
    letter-spacing: 1.1px;
    text-decoration: none;
    color: #4e4e4e;
    padding: 5px 0 5px 12px;

    &--active {
      color: #57a4a4;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover,
      &:focus {
        color: #57a4a4;
        background-color: #e6e3e3;
        @media screen and (min-width: $breakpoint-small) {
          background-color: revert;
        }
      }
    }

    @media screen and (min-width: $breakpoint-small) {
      padding: 10px;
    }
  }
}

.hero {
  margin-bottom: 42px;

  @media screen and (min-width: $breakpoint-small) {
    margin-bottom: 59px;
  }
  @media screen and (min-width: $breakpoint-large) {
    margin-bottom: 69px;
  }

  img {
    width: 100%;
  }
}
