.last-shot {
  &__heading {
    @include headings;
    color: #4e4e4e;
  }

  padding-top: 38px;
  padding-bottom: 42px;

  @media screen and (min-width: $breakpoint-small) {
    background-color: hsla(0, 0%, 0%, 0.03);
    padding-bottom: 50px;
    padding-top: 47px;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
    height: 301px;

    @media screen and (min-width: $breakpoint-small) {
      height: 249px;
    }
    @media screen and (min-width: $breakpoint-large) {
      height: 285px;
    }
  }

  &__item {
    height: 100%;
    width: 249px;
    // @media screen and (min-width: $breakpoint-small){
    //     flex: 1 0 calc((100% / 3) - 20px);

    // }

    @media screen and (min-width: $breakpoint-large) {
      width: 285px;
    }
  }

  &__wrapper-text {
    padding-bottom: 13px;

    @media screen and (min-width: $breakpoint-small) {
      display: flex;
      justify-content: space-between;
      padding-bottom: 35px;
    }
    @media screen and (min-width: $breakpoint-large) {
      display: flex;
      justify-content: space-between;
      padding-bottom: 24px;
    }
  }

  &__go-to-insta {
    text-transform: uppercase;
    font-weight: 700;
    font-size: calc((13/16)*1rem);
    line-height: 1.9;

    text-transform: uppercase;

    color: #4e4e4e;
    display: none;
    @media screen and (min-width: $breakpoint-small) {
      display: revert;
    }
  }
}
