.recent-posts {
  margin-bottom: 43px;

  &__title {
    @include headings;
    color: #4e4e4e;
    margin-bottom: 23px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


    @media screen and (min-width: $breakpoint-small) {
      max-width: 555px;
      flex-direction: row;
      gap: 21px;
    }
  }

  &__text {
    display: none;
    font-size: calc((14/16)*1rem);
    line-height: 1.9;
    color: #5C5C5C;
    padding-top: 13px;

    @media screen and (min-width: $breakpoint-small) {
      display: block;
    }
  }

&__author{
    font-size: calc((11/16)*1rem);
    color: #7C7C7C;
    padding-top: 1px;
}

  &__img-wrapper {
    flex: 1 0 auto;
    padding-bottom: 11px;

    @media screen and (min-width: $breakpoint-small) {
        width: 160px;
      }

  }

  &__headings {
    font-size:  calc((14/16)*1rem);;
    line-height: 2.1;
    color: #4e4e4e;
  }
}
